<div class="container">
  <div class="row">
    <div class="col mt-4">
      <p class="h7 float-right"><i>Welcome </i><%= current_user.users_full_name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4">
      <p class="h4">Topics of Inspiration</p>
    </div>
  </div>
  <div class="row  mt-4">
    <div class="col-sm-3">
      Topics 1
    </div>
    <div class="col-sm-3">
      Topics 2
    </div>
    <div class="col-sm-3">
      Topics 3
    </div>
    <div class="col-sm-3">
      Topics 4
    </div>
  </div>
  <div class="row">
    <div class="col mt-4">
      <p class="h4">Aha feed:</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-8">
      <%= render partial: "posts/list", locals:{posts: @posts}%>
    </div>
    <div class="col-sm-4"">
      <p class="h5">Communities</p>

      <div class="card shadow">
        <ul class="list-group list-group-flush">
          <% @communities.each do | community| %>
            <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
          <% end %>
        </ul>
      </div>
      <%# link to community path in community -> index.html %>
      <%= link_to "View All Communities", communities_path, class: "btn btn-outline-primary mt-4" %>
    </div>
  </div>
</div>
