<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4 mt-1 ml-3">
        <h2>New Community</h2>
        <p class="text-danger">Warning: Once you create a Community it cannot be deleted due to other users posts and advertising within this Community</p>
      </div>
    </div>
    <div class="col-sm-10 mt-1">
      <%= render partial: "form" %>
    </div>
  </div>
</div>
