<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        ‘Daily Dose of Aha-Moments’ is a Ruby on Rails application with the
        concept of delivering a platform that bridges social media and blogging/email
         marketing. facilitating your Accounts, Communities
         of a specific topic, blog/email Posts to posted in a Community to promote a
         view, or product/course. Courses can be created from this application,
         found in your profile page.
      </p>
    </section>

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
